* {
    font-family: 'Raleway', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .login {
        background-color: #FFF;
        border-radius: 10px;
        position: fixed;
        width: 300px;
        height: auto;
        left: calc(50% - 150px);
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
            font-size: 30px;
            margin: 30px auto;
        }
        label {
            margin-bottom: 4px;
        }
        input {
            margin-bottom: 20px;
        }
        .warning {
            margin: 0 auto 30px;
            height: 20px;
            color: red;
        }
        .changeAction {
            margin: 20px 0 30px;
            color: #3eb0c7;
            font-weight: 600;
        }
    }
}